.sidebar .nav-dropdown-items .nav-dropdown {
    padding: 0 0 0 .8rem;

    &:not(.open) > a {
        font-weight: normal!important;
    }
}

[dir="rtl"] #crudTable_wrapper #crudTable tr td, #crudTable_wrapper #crudTable tr th, #crudTable_wrapper table.dataTable tr td, #crudTable_wrapper table.dataTable tr th {
    text-align: right;
}

[dir="rtl"] .app-header .navbar-brand {
    direction: ltr;
}

[dir="rtl"] .sidebar .nav-dropdown-items .nav-dropdown {
    padding: 0 .8rem 0 0;
}
[dir="rtl"] .dropdown-menu {
    right:0 !important;
}
[dir="rtl"] navbar-nav .dropdown-menu{
    left: 0 !important;
}


